<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codehead.criminalintent">

    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <receiver android:name="com.example.codehead.criminalintent.BootCompletedIntentReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- &gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON"/> -->
        <!-- &lt;!&ndash;For HTC devices&ndash;&gt; -->
        <!-- <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name=".SyncService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- </service> -->

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.codehead.android.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RewardActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".HotspotListActivity" />
        <activity
            android:name=".HotspotsTabActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".FloraItemsListFragment" />
        <activity android:name=".SpeciesRegisterForm" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".ViewDiaryActivity"></activity>
    </application>

</manifest>